/*Index.html*/
/* Body Styles: Sets default margin, background color, font, and text color */
body{
    margin:0px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Main Container: Adds margin around main content */
main{
    margin: 20px;
}

/*Navigationbar*/
/* Color for the header */
header{
    background-color: #446494;
}

/* Styles for the navigation bar list */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 13px;
    background-color: #446494;
    display: flex;
    align-items: center;
}

/* Styles for navigation bar links */
.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}

/* Hover effect for navigation bar links */
  .navbar a:hover {
    background-color: #6090d4;
    border-radius: 5px;
    text-decoration: underline;
  }

  /*Style to get rid of the shadow behind the picture*/
  .logo {
    box-shadow: none;
  }

  /*Valentina's part*/
/* Styles for the headline section, the first light-blue container */
  section.headline { 
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    background-color: #c1e7ff;
    margin: 20px auto;
    max-width: auto;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Styles for the placement of the small-box conatiners */
.small-box-container {
    display: grid; 
    grid-template-columns: repeat(2, auto); 
    gap: 20px; /* Space between boxes */
    width: fit-content; /* Adjust container width */
    margin: 0 auto; /* Center boxes */
}
/*Styles for the buttom boxes*/
.box1 {
    width: 150px;
    height: 60px;
    background-color: #4c82af;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*Style for the second heading*/
.overskrift2 {
    text-align: center;
}

/* Styles for all the light-blue boxes */
.box {
    background-color: #c1e7ff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*Styles for setting a background and a container on the content section*/
.content { 
    padding-top: 5em; 
    padding-bottom: 5em;
    background-color: #c1e7ff; 
}
/*Style for alignin the text and pictures beside each other*/
.content-wrapper { 
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    gap: 20px; //* Adjusts space between image and text */
}
/*Style for image*/
.image-logo img { 
    max-width: 70%; /* Adjust image size to container */
    height: auto; 
    box-shadow: none;
}

/*Style for text*/
.text-container { 
    text-align: left; /* Left-aligns text */
    max-width: 50%; /* Adjust width as needed */
} 

/*Centers heading 3*/
.overskrift3 { 
    text-align: center; 
}

/*Valentina's part ends*/

/*Mahder's part 1*/
.wrapper {
    display:flex;
    max-width: auto;
    background-color: rgb(41, 41, 41);
    padding: 20px; 
    margin-top: 20px;
}

.mahder1, .side-content {
    flex: 1;
    padding: 20px;
    color: white;
}

.mahder1 {
    border-right: 2px solid white;
}

.mahder1 h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}
.mahder1 p {
    color:white;
    margin-bottom: 20px;
}
.mahder1 ul { 
    list-style-type: disc;
    padding-left: 20px;
    color: white;
}

.side-content {
    flex: 1;
    background-color: rgb(41, 41, 41);
    padding: 20px;
    color: white;
}

.side-content h1 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: white;
}

.side-content p {
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    list-style-type: disc;
}
/*Mahder's part ends*/


/* mia's part */
.miaspart {
    align-content: center;
}

.firstbox, .secondbox  {
    background-color: #e0f7ff;
    width: 400px;
    padding: 30px;
    margin: 50px;
    border-radius: 20px;
}

.firstbox {
    float: left;
    margin-bottom: 40px;
}

.secondbox {
    float: right;
    margin-top: 54px;
    margin-right: 90px;
}

.itjobb {
    float: right;
    min-width: 56%;
    min-height: 56%;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 50px;
}

.exchangestudent {
    float: left;
    max-width: 50%;
    max-height: 50%;
    border-radius: 20px;
    margin-top: 22px;
    margin-left: 90px;
}
/* mia's part ends */

/*Ari's part*/
.AriSinDel {
    text-align: center;
    padding: 20px;
    background-color: #c1e7ff;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(58, 157, 238, 0.1);
  }
  
  .AriSinDel h2 {
    font-size: 24px;
    color: black;
  }
  
  .AriSinDel p {
    font-size: 16px;
    color: black;
  }
  
  .AriSinDel-kursleder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .AriSinDel-profil {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .AriSinDel-profil img {
    width: 130px;
    height: 170px;
    box-shadow: 0 4px 8px rgb(138, 149, 245);
  }
  
  .AriSinDel-profil-info h3 {
    margin: 0;
    font-size: 20px;
    color: #070202;
  }
  
  .AriSinDel-profil-info p {
    margin: 5px 0;
    color: #0a0a0c;
  }
  
  .AriSinDel-profil-info a {
    color: #060606;
    text-decoration: none;
  }
  
  .AriSinDel-profil-info a:hover {
    text-decoration: underline;
  }
  /*Ari's part ends*/



  /*Footer for home-page*/
  .footer-Hovedside {
    background-color: #c1e7ff;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .footer-b { /*Button class*/
    padding: 10px 20px; /* Padding around the button text */
    font-size: 16px; /* Font size of the button text */
    color: rgb(0, 0, 0); 
    background-color: #608ba3; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; /* Changes cursor to a hand when hovering over the button */
  }
  /*end for home-page footer*/


  
    
    
    

/*Accessibility*/
/*Short presentation of accessibility for your site. Test your site with an automated test. Write a very short text
(between 400 and 500 words) about the coding choices you made for universal design beyond what an
automated test could tell you. You are recommended to use screenshots from the testing site and of your code.
When using automated tests, you still have a responsibility to check the code manually as well. Errors/ non-
compliance may appear even if the automated test gives an All clear-verdict*/





/*GitHub*/
/*Include four images, two showing part of commits history, and two showing a specific change. See examples
below. Write a short text (at least 200 words), split in paragraphs with sub-headings about collaboration in
repositories like GitHub. Include
• EITHER a short list of benefits of Git, GitHub, OR LiveShare in VS Code;
• OR a short list of issues you had setting up Git-connection in VS Code, OR using GitHub
Left: An example of a Commits history. Names redacted. Right: An example of a specific change in a Commit.
The best collaborative use of Git happens when everyone commits incremental changes, and this is what we
want documented, if possible. Both examples above indicate frequent and small changes committed to a shared
repository.*/






/*Activity*/
/*The classes that "shares" the same name as an other class used on the other pages, have an -A at the end that indecades to Activity.*/
.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/*navigation bar,"nav-A" because it has a different color than the main navbar*/
.nav-A ul{ 
    list-style-type: none; /* Remove bullet points from list */
    margin: 0;
    padding: 13px;
    background-color: #699874;
    display: flex;
}

.nav-A a {
    display: block; /* Display links as block elements */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s ease;
    margin: 0 15px;
    padding: 5px 10px;
  }

/* Change background color on hover and Underline text on hover */
.nav-A li a:hover { 
    background-color: #a7c8ae;
    text-decoration: underline;
}
/* Background and text font for the page */
.main-A { 
    background-color: #f9f9f9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Styles for headline section in the activity page, makes a white container around the content*/
.headline-A {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #ffffff;
}

/* Styles for first headline title */
.overskrift-A {
    color: #000000;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

/* Styles for subtitle */
.undertekst-A {
    color: #16a085;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the gray search bar */
.search-bar {
    padding: 10px 20px; 
    font-size: 16px; 
    color: rgb(179, 177, 177); 
    background-color: #e8e8e8; 
    border: 2px solid rgb(197, 196, 196); 
    border-radius: 10px; 
    cursor: pointer; 
}

/* Styles for search button */
.search {
    padding: 10px 20px; 
    font-size: 16px; 
    color: rgb(0, 0, 0); 
    background-color: #daf0e6; 
    border: 2px solid rgb(168, 196, 173); 
    border-radius: 10px; 
    cursor: pointer; 
}

/*Style for the second conatainer, headline section */
.headline2-A {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #daf0e6;
}

/*Style for second headline title*/
.overskrift2-A {
    font-size: 40px;
    color: #131111;
    text-align: center;
}

/*Style for buttons inside headline2-A container*/
.button {
    padding: 10px 20px; 
    font-size: 16px; 
    color: rgb(0, 0, 0); 
    background-color: #b6e1b8; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

/*Style for 3. headline title*/
.overskrift3-A {
    font-size: 40px;
    text-align: center;
}

/*Subtitle*/
h2 {
    color: #333;
    font-size: 28px;
    margin-top: 20px;
}

/*Paragraph*/
p {
    font-size: 18px;
    line-height: 1.6;
}

/*Style for images*/
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Styles for the green buttons underneith all pictures*/
.button1 {
    padding: 10px 20px; 
    font-size: 13px; 
    color: rgb(0, 0, 0); 
    background-color: #dae9da; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
}

/* Placement of boxes */
.container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    display: grid;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Design of the boxes */
.section { 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Footer for activity*/
.Activity {
    background-color: #16a085; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    max-width: auto;
    position: static; /*don't move*/
    margin: 0;
}





